/* This CSS file will need to be added to the styling of 
your web pages for the styles to be rendered. */

/*|
body {
background-color: #333333;
color: white;
}
*/

.card{
    padding: 2px;
    margin: 10px 0;
}

a {
    color: #ffc107;
}

.space-above {
    margin-top: 20px;
    padding-top: 20px;
}
